header {
  background-color: #21c2f8; }
  header ul {
    margin-top: revert; }
    header ul li {
      float: left;
      color: #fff; }

.btn-outline-white {
  color: #fff;
  border-color: #fff; }
  .btn-outline-white:hover {
    color: #a1b1bc;
    background-color: #fff; }

.cursor-pointer {
  cursor: pointer; }

nav .active {
  border-top: 5px solid #1abc9c; }

li.nav-item.d-flex.align-items-center.pt-4.h-100.active > a {
  color: #1abc9c; }

.bn-5 {
  border-top: 5px solid #fff; }

#carouselExampleControls {
  max-height: 900px; }
  #carouselExampleControls img {
    width: 100%;
    height: 100%; }
  #carouselExampleControls .carousel-control-prev,
  #carouselExampleControls .carousel-control-next {
    width: 9%; }
  #carouselExampleControls .carousel-control-prev-icon,
  #carouselExampleControls .carousel-control-next-icon {
    border: 1px solid #fff; }
    #carouselExampleControls .carousel-control-prev-icon:hover,
    #carouselExampleControls .carousel-control-next-icon:hover {
      background-color: #222533; }
  #carouselExampleControls i {
    background-color: #fff;
    border-radius: 50%;
    color: #222533;
    padding: 2px; }
  #carouselExampleControls .carousel-caption {
    right: 0;
    text-align: left;
    top: 30%; }
  #carouselExampleControls li {
    color: #222533;
    padding: 0.3em 0em; }
  #carouselExampleControls hr {
    width: 20%;
    padding: 0.1em;
    color: #222533;
    opacity: 0.6; }

ul li {
  list-style-type: none; }

.text-gray {
  color: #a1b1bc; }

#introduce .btn {
  width: 100%;
  text-align: left; }
  #introduce .btn:focus {
    box-shadow: 0px 0px; }
#introduce .card-header {
  background-color: transparent; }
#introduce i {
  float: right; }

#amazing-works {
  background-color: #f9fafb; }
  #amazing-works .box-show {
    border: 1px solid #a1b1bc;
    padding: 0px 0px !important; }
    #amazing-works .box-show .heart {
      text-align: right;
      color: #a1b1bc; }
    #amazing-works .box-show:hover {
      border: 1px solid #222533; }
      #amazing-works .box-show:hover .title-box {
        background-color: #a1b1bc;
        color: #fff; }
        #amazing-works .box-show:hover .title-box .heart {
          color: #fff; }
      #amazing-works .box-show:hover .click-plus {
        background-color: #222533; }
        #amazing-works .box-show:hover .click-plus:before {
          opacity: 1 !important;
          transform: rotate(-3600deg); }
    #amazing-works .box-show .content-box {
      height: 200px;
      border-top: 1px solid #a1b1bc;
      background-color: #a1b1bc; }
      #amazing-works .box-show .content-box .click-plus {
        position: relative;
        width: 100%;
        height: 100%; }
        #amazing-works .box-show .content-box .click-plus:before {
          opacity: 0;
          position: absolute;
          content: url("../img/plus.png");
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          height: inherit;
          transition: 0.5s all; }

/*# sourceMappingURL=the-fox-1.css.map */
