$colorWhile: #fff;
$colorGray: #a1b1bc;
$colorGreen: #1abc9c;
$colorBlack: #222533;
$backgroundGray: #f9fafb;

header {
  background-color: #21c2f8;
  ul {
    margin-top: revert;
    li {
      float: left;
      color: $colorWhile;
    }
  }
}
.btn-outline-white {
  color: $colorWhile;
  border-color: $colorWhile;
  &:hover {
    color: $colorGray;
    background-color: $colorWhile;
  }
}
.cursor-pointer {
  cursor: pointer;
}

nav {
  .active {
    border-top: 5px solid $colorGreen;
  }
}
li.nav-item.d-flex.align-items-center.pt-4.h-100.active > a {
  color: $colorGreen;
}
.bn-5 {
  border-top: 5px solid $colorWhile;
}
#carouselExampleControls {
  max-height: 900px;
  img {
    width: 100%;
    height: 100%;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 9%;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    // padding: 0.5em;
    border: 1px solid $colorWhile;
    &:hover {
      background-color: $colorBlack;
    }
  }
  i {
    background-color: $colorWhile;
    border-radius: 50%;
    color: $colorBlack;
    padding: 2px;
  }
  .carousel-caption {
    right: 0;
    text-align: left;
    top: 30%;
  }
  li {
    color: $colorBlack;
    padding: 0.3em 0em;
  }
  hr {
    width: 20%;
    padding: 0.1em;
    color: $colorBlack;
    opacity: 0.6;
  }
}
ul {
  li {
    list-style-type: none;
  }
}
.text-gray {
  color: $colorGray;
}

#introduce {
  .btn {
    width: 100%;
    &:focus {
      box-shadow: 0px 0px;
    }
    text-align: left;
  }
  .card-header {
    background-color: transparent;
  }
  i {
    float: right;
  }
}

#amazing-works {
  background-color: $backgroundGray;
  .box-show {
    border: 1px solid $colorGray;
    padding: 0px 0px !important;
    .heart {
      text-align: right;
      color: $colorGray;
    }
    &:hover {
      border: 1px solid $colorBlack;
      .title-box {
        background-color: $colorGray;
        color: $colorWhile;
        .heart {
          color: $colorWhile;
        }
      }
      .click-plus {
        background-color: #222533;
        // display: block !important;
        &:before {
          opacity: 1 !important;
          transform: rotate(-3600deg);
        }
      }
    }
    .content-box {
      height: 200px;
      border-top: 1px solid $colorGray;
      background-color: $colorGray;
      .click-plus {
        // display: none;
        position: relative;
        width: 100%;
        height: 100%;
        &:before {
          opacity: 0;
          position: absolute;
          content: url("../img/plus.png");
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          height: inherit;
          transition: 0.5s all;
          // transition-delay: 0.5s;
        }
      }
    }
  }
}

#counters {
  ul {
    margin: 0;
    padding: 0;
    li {
      float: left;
      width: calc(100% / 5);
      color: $colorWhile;
    }
  }
}

.bg-green1 {
  background-color: #20caa8;
}
.bg-green2 {
  background-color: #1ad5b0;
}
.bg-black {
  background-color: $colorBlack;
}
